<header>
    <nav>
        <a href="/" class="brand-logo center">
            <i class="material-icons">library_music</i>Top trending video games!
        </a>
    </nav>
</header>
<main class="container">
